html {
    overflow-y: scroll;
  }
body{
    padding: 0;
    margin: 0;
    background-color:#F5F5F5;

    font-family: monospace;
    font-size: 1.5em;

    color: #2E3532 !important;
}

header{
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    
}
nav{

    width: 60%;
    
    padding:0.1rem;
    margin-bottom: 1.5em;

    max-width: 550px;

    border-radius: 50px;

    
}

ul{
    list-style: none;
 
}
li{
    margin: 0 0.5rem;
    padding: 0.4rem 1rem;
    
    color: #5C80BC;

    border: 2px solid #5C80BC;
    border-radius: 20px;
}

p{
    margin-bottom: 0;
}
/*Slick Carousel*/
#finlandP{
    margin-bottom: 15px;
    margin-top: 0px;
}
.slickPicContainer{
    margin: 1em;
    border: 1px solid black;
    height: 65%;
  }
    .slider {
      margin: 0 auto;
  }
  .center{
    display: flex;
  
    justify-content: center;
    align-items: center;
  
    width: 100%;
  }
  
  img {
    width: 80%; 
    max-height: 400px; 
    object-fit: contain; /* Ensures the image fits inside its container without cropping */
    margin: 0 auto;
  }
  
  .slick-prev:before, 
  .slick-next:before {
      color: #A5668B;
    z-index: 100;
  }
  
  .slick-prev.slick-arrow
   {
    left: 0px;
    transform:scale(3)
    
  }
  .slick-next.slick-arrow
   {
    right: 5px;
    transform:scale(3)
  
  }
  
  
  .slick-slide img{
    display: block;
  
  }
  @media(max-width: 600px){
  
    .slick-prev.slick-arrow
    {
 
     transform:scale(1.5);
     left: -10px;
        
   }
   .slick-next.slick-arrow
    {   
     right: -10px;
     transform:scale(1.5)
     
   
   }
}

.container{

    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
    
}
.hidden{
    display: none !important; /*otherwise the display flex of mainpage is applied*/
}
.titleOfContanier{
    position: absolute;

    left: 15px;
    top: -30px;

    font-weight: 700;
    font-size: 1.4rem;

    color:  #A5668B;
}
@media (max-width:600px){
    #titleExperience{
        left: 5px;
        top: -30px;
    }
}
/*NAV BAR*/

.navList{
    opacity: 0;
    transition: opacity 1.5s ease-in;


    padding: 0;
    margin: 0.4rem auto;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    animation-name: fadeInFromTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 2.5s;
    transition: ease-in;
}
.navList.show {
    opacity: 1;
    transform: translateY(0);
}
.navListItem{
    cursor: pointer;
    transition: 0.3s ease;
 
    font-size: 1.25rem;
}
.navListItem:hover{
    color: #3a6469;
    background-color: #5C80BC;
}
@media(max-width: 600px){
    nav{
        margin-bottom: 10px;
    }
    .navList{
        flex-direction: column;


    }
    .navList li{
        margin-bottom: 10px;
        min-width: 216.5px;

        text-align: center;
    }
}
.chosenNavBar{
    color: #5C80BC;
    background-color: #BFAA88;
}

/*INTRO */

.introContainer{
    font-size: 2rem;
    margin-bottom: 0;


    width: 20ch;
    text-align: left;
}
.staticIntro{
    opacity: 0;
    transition: opacity 1s ease-in;

    text-align: center;
    font-size: 3rem;

    color: #2E3532;

    margin-top: 1rem;
}
.dynamicText{
    opacity: 0;
    transition:opacity 2s ease-in;

    margin-top: 0;
    font-weight: 400;
    font-size: 2rem;
    font-family: monospace;
    border-right: 4px solid #5C80BC;
    color: #FF934F;
    white-space: pre; /* Preserve whitespace in text */
   
    width: 100%;

 
    overflow: hidden;

    letter-spacing: 1px;
    

    animation: 
        typing 3s , /*add step(LENGTH OF STRING)*/
        blink 0 step-end infinite, /*to make it blinking 0s->.4s*/
        typeback 3s ease-in 4s forwards;
        
}
.show{
    opacity: 1;   
}

.writings{
    display: flex;

    flex-direction: column;
    justify-content: center;
 
    margin-bottom: 0.5em;
}

/* MAIN PAGE*/
#mainPage{
    
    display: flex;
    flex-direction: column;
}
.showContainer{
    box-sizing: border-box;

    border:3px solid rgba(14, 13, 13, 0.63);;
    width: 80%;
    max-width: 775px;

    margin:0.5em 0;

    
}
/*education*/
#education{
    position: relative;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    animation-name: fadeInFromTop;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    transition: ease-in;

    padding-bottom: 1em;
}

.school{ 
    
    margin-right:  1em;
    margin-left:  1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #FF934F;

    padding: 0.2em;

    display: flex;

    justify-content: space-between;
    align-items: center;
 
    cursor: pointer;
}
.school p{
    font-size: 1rem;
    display: inline-block;
    
    margin-right: 2em;


}
.expandButton{
    font-size: 2em;
    cursor: pointer;

    color: #FF934F;

    transition: 0.4s;
}
.expandButton.buttonActive{
    content: '-';
    cursor: pointer;

    color: #2E3532;

    transition: 0.4s;
}

.name{
    font-size: 1rem;
    font-weight: 700;


}
.type{
    
    font-weight: 700;
    color: #FF934F;

}

.time{

    margin-top: 0.5em;
}
.details {
    padding: 0 1.5em;
    max-height: 0; /* Starts with no height */
    overflow: hidden;
    transition: max-height 0.4s ease-in-out; 
    color: #2E3532;
}


@media(max-width: 600px){
    .showContainer{
        width: 90%;
        margin-bottom: 0em;
        margin-top: 1em;
        padding-bottom: 0.25em !important;
    }
    .school{
        align-items: start;
    }
    .type{
        font-size: 0.9rem !important; 
        margin-top: 0px;
    }
    .time{
        font-size: 0.9rem !important; 
        margin-top: 0px;
    }
 
    #education{
        position: relative;
    

    
        animation-name: fadeInFromLeft;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-delay: 3s;
        transition: ease-in;
    
        padding-bottom: 1em;
    }
}




/*MIDPOINT*/
#me{
    display: flex;

    justify-content: space-between;
    
    padding: 0;

    border:0;
}
.techMain{
    box-sizing: border-box;
    width: 30%;
    height: 186px;
    
   

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
}
.techMain img{
    width: 60%; 
    height: auto; 
    object-fit: cover; 

}
#techMainLeft{
    animation-name: fadeInFromLeft;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    transition: ease-in;
    
}
#techMainRight{
    animation-name: fadeInFromRight;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    transition: ease-in;
}
.techSub{

    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    
}
.tooltipText{
    position: absolute;

    background-color: black;
    color: white;
    padding: 5px 8px;

    white-space: nowrap;

    border-radius: 7px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    z-index: 1000;
}

.tooltipText::before{ /*POINTY PART*/
    content: "";
    position: absolute;

    left: 50%;
    top: 100%;

    transform: translateX(-50%);

    border: 15px solid;

    border-color: #000 #0000 #0000 #0000;
}

.techSub:hover .tooltipText{
    top: -55px;
    visibility: visible;
    opacity: 1;
}
.techSub:hover #github.tooltipText{ /*specific scaling for github logo*/
    top: -65px;

    visibility: visible;
    opacity: 1;

    transform: scale(1);
}
@media(max-width: 600px){
  
    #me{
        flex-direction: column;
        align-items: center;
    }
    .techMain{
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        
       
    
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 2 columns */
        grid-template-rows: repeat(auto, 1fr);
    
        justify-content: center;
        align-items: center;
        order: 1;
    }
    .techMainLeft{
        order: 2;
    }
    .techMainRight{
        order: 3;
    }
    .myPhoto{
        width: 70% !important;
        
        animation-name: fadeInFromRight !important;
    }
    #photoContainer{
        margin-bottom: 0.75em;

        max-width: 250px;
    }

    .myPhoto img {

        transform: scale(0.75);
        transform: translateY(50px) !important;
    }

    #css{
        transform: scale(1.05) !important;
    }
    #JS{
        transform: scale(0.85) !important;
    }
    #python{
        transform: scale(0.9) !important;
    }
    #githubImg{
        transform: scale(1.5) !important;
    }
    
    #slickJS{
        transform: scale(1.4) !important;
    }
    #yoloV4{
        transform: scale(1.1) !important;
    }
    #html{
        transform: scale(0.73) !important;
    }
    #node{
        transform: scale(0.9) !important;
    }

}
/*SPECIFIC IMAGE SCALING*/
#css{
    transform: scale(1.3);
}
#JS{
    transform: scale(1.15);
}
#python{
    transform: scale(1.1);
}
#githubImg{
    transform: scale(1.8);
}
#slickJS{
    transform: scale(1.5);
}
#yoloV4{
    transform: scale(1.4);
}
/*IMAGE SCALING END*/

.myPhoto{
    box-sizing: border-box;

    width: 30%;
    min-width: 180px;
    max-height: 200px;
    height: 200px;

    border: 3px solid rgba(14, 13, 13, 0.63);
    border-radius: 30px;

    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 2.9s;
    transition: ease-in;
}
.myPhoto img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
 
    transform: translateY(37px);
}

#experience{
    position: relative;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    min-height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    animation-name: fadeInFromDown;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    transition: ease-in;

    padding-bottom: 1em;
}
.company{
    
    margin-right:  1em;
    margin-left:  1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #FF934F;

    padding: 0.2em;

    display: flex;

    justify-content: space-between;
    align-items: center;
 
    cursor: pointer;
}
.company p{
    font-size: 1rem;
    display: inline-block;
    
    margin-right: 1em;


}
@media (max-width:600px){
    #experience{
        animation-name: fadeInFromLeft;
        margin-bottom: 0.5em;
    }
}
/*DOWNLOADS&LINKS*/
@media(max-width:600px){
    #allLinks{
        row-gap: 0px;
    }
}
#allLinks{

    border:0;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);
    
    justify-items: center;
    align-items: center;

    row-gap: 130px;
    
}
@media(max-width:600px){
    #allLinks{
        row-gap: 28px;
        margin-top: 0em;
    }
    .download{
        margin-left: 1em !important;
    }
}

.downloadContainer{
    width: 60%;
    position: relative;

    border-bottom: 2px solid #2E3532;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 1em 1em;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0s;
    transition: ease-in;
}

.nameEl{
    position: absolute;

    top: -22px;
    left: auto;


    color: #2E3532;
    font-weight: 700;

    min-width: 195px;
    text-align: center;
}
.downloadContainer i{
    font-size: 5em;

    padding-top: 0.05em;

    color: #5C80BC;

    
}
.buttons{
    width: 70%;
    display: flex;


    justify-content: space-evenly;
    align-items: center;

    padding: 0.25em 0.25em;
    margin: 0.5em 1em;
}
.buttons i{

    font-size: 2rem;
    color: #000;
    
}

.download i,
.see i{
    color: #FF934F;
    transition: color 0.1s ease-in;
}
.download i:hover{
    color: #5C80BC;
}
.see i:hover{
    color: #5C80BC;
}


/*Projects*/
@media (max-width:600px){
    .projectContainer{

    

    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;

        margin-bottom: 3em !important;
    }

    .photoLinkContainer{
        width: 85% !important;
        max-width: 185px;
    
        margin: 0.5em 0em 0em 0em !important;
        
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    }
    .briefingContainer{
        width: 100% !important;
    }
    .projectText{
        margin-top: 0em !important;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
    .projectTitle{
        text-align: center;
    }
    .briefing{
        margin-bottom: 0em !important;
    }
    .technologies{
        padding: 0em !important;
        margin-bottom: 0.5em;


    }
    #frontEndPracticeContainer{
        grid-template-columns: repeat(1, 1fr) !important; /* 2 columns */
        grid-template-rows: auto;
    }
    .practiceName{
        font-size: 1.25rem !important;
    }


}
#projects{
    border: 0;
}
.projectContainer{
    min-height: 250px;

    position: relative;

    border: 2px solid rgba(14, 13, 13, 0.63);
    border-radius: 20px;
    
    margin-bottom: 2em;

    font-size: 1rem;

    justify-content: space-evenly;
    align-items: center;

}

.categoryName{
    position: absolute;

    top: -24px;
    left: 15px;

    font-weight: 700;
    font-size: 1.25rem;
    color: #A5668B;
}

.photoLinkContainer{
    width: 25%;

    margin: 0.5em 1em 0 0.5em;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.photoLinkContainer img{
    box-sizing: border-box;
    height: 150px; 
    width: 100%; 
   
    
    object-fit: cover; 

    border: 2px solid rgba(14, 13, 13, 0.63);
    border-radius: 20px;
}
.briefingContainer{
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.briefingContainer img{
    max-width: 60px;
    width: 60%; 
    height: auto; 
    object-fit: cover; 

}
.projectText{
    margin-top: 1em;
}
.projectTitle{
    font-weight: 700;
    font-size: 1.25rem;

    color: #A5668B; 
}
#ets2Container {
    box-sizing: border-box;
    height: 150px; 
    width: 100%; 
   
    
    object-fit: cover; 

    border: 2px solid rgba(14, 13, 13, 0.63);
    border-radius: 20px;

    overflow: hidden;


}
.briefing{
    margin: 0.5em 1em 1em 0em;
    padding-left: 1em;
}
.technologies{
    width: 100%;

    padding: 0.25em 3em 1em 1em;

    display: flex;

    justify-content: space-evenly;
}
.technologies img {
    min-width: 60px; 
    height: auto;
    cursor: pointer;
}
.withToolTip{
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.tooltip {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none; /* Hidden by default */
    z-index: 10;

    font-weight: 600;
}

#ODI {
    margin-top: 1em;
    overflow: hidden; 
    position: relative;

    border: 2px solid rgba(14, 13, 13, 0.63);
    border-radius: 20px;
  }

#ODI img {

    transform: translateY(8%) scale(1.4); /* Zoom in and center */

  }
/*Specific alignments of tooltips for smaller screen sizes*/
@media (max-width:600px){
    .withToolTip.threeLeft .tooltip {
        left: 200%;
    }
    .withToolTip.threeRight .tooltip {
        left: -100%;
    }
    .withToolTip.twoLeft .tooltip {
        left: 150%;
    }
    .withToolTip.twoRight .tooltip {
        left: -70%;
    }
}
#frontEndPracticeContainer{

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: auto;

    
    justify-items: center;
    align-items: center;

    padding-top: 3em ;
}
.practicePhotoLinkContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

   
}
.practicePhotoLinkContainer .buttons{
    width: 40%;
    
}
.practicePhotoLinkContainer img{
    box-sizing: border-box;

    width: 70%;
    height: 150px;
    object-fit: cover; 

    border: 2px solid rgba(14, 13, 13, 0.63);
    border-radius: 20px;
}
.practicePhoto{
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;
}
.practiceName{
    position: absolute;

    top: -30px;

    font-size: 1.5rem;
    font-weight: 700;
    color: #A5668B;

}
.briefing a{
    color: #5C80BC !important;
}
/*SPECIFIC PROJECT SCALING*/
.projectContainer #JS{
    transform: scale(1.2);
}
.projectContainer #css{
    transform: scale(1.4);
}
.projectContainer #node{
    transform: scale(1.1);
}
#ets2 {
    max-width: 100%; 
    height: auto; 
    transform: scale(1.5);


}
/* ANIMATIONS*/

/*title Animations*/
@keyframes typing {
    from{width: 0 ;}
}

@keyframes disappear {
    from { border-right-color: black; 
        }
    to { border-right-color: transparent;
         }
}

@keyframes blink {
    50% {border-color: transparent;}
}
@keyframes typeback {
    from{width: 100 ;}
    to{width: 0%;}
}

/*general Animations*/
@keyframes fadeIn {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}
@keyframes fadeInFromTop {
    from {
        transform: translateY(-20px);
        opacity: 0;
        
    }
    to {
        transform: translateY(0);
        opacity: 1;
        
    }
}
@keyframes fadeInFromDown {
    from {
        transform: translateY(50px);
        opacity: 0;

    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
}
@keyframes fadeInFromRight {
    from {
        transform: translateX(30px);
        opacity: 0;

    }
    to {
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes fadeInFromLeft {
    from {
        transform: translateX(-30px);
        opacity: 0;

    }
    to {
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
.noDelay {
    animation-delay: 0s !important; /* Ensure it overrides other delays */
    transition: ease !important;
    animation-duration: 1s !important;
  }