body{
    padding: 0;
    margin: 0;
    background-color: #2A2D34;

    font-family: monospace;
    font-size: 1.5em;
}

header{
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    
}
nav{

    width: 60%;
    
    padding:0.1rem;
    margin-bottom: 1.5em;

    max-width: 550px;

    border-radius: 50px;

    
}

ul{
    list-style: none;
 
}
li{
    margin: 0 0.5rem;
    padding: 0.4rem 1rem;
    
    color: #ebebd3;

    border: 2px solid #ebebd3;
    border-radius: 20px;
}
p{
    margin-bottom: 0;
}
.container{

    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
    
}
.hidden{
    display: none;
}

/*NAV BAR*/

.navList{
    opacity: 0;
    transition: opacity 1.5s ease-in;

    transform: translateY(50px); /* Start slightly lower */
    transition: opacity 1.5s ease-in, transform 1.5s ease-in; 

    padding: 0;
    margin: 0.4rem auto;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    
}
.navList.show {
    opacity: 1;
    transform: translateY(0);
}
.navListItem{
    cursor: pointer;
    transition: 0.3s ease;
 
    font-size: 1.25rem;
}
.navListItem:hover{
    color: #3a6469;
    background-color: #ebebd3;
}
.chosenNavBar{
    color: #3a6469;
    background-color: #ebebd3;
}

/*INTRO */

.introContainer{
    font-size: 2rem;
    margin-bottom: 0;


    width: 20ch;
    text-align: left;
}
.staticIntro{
    opacity: 0;
    transition: opacity 1s ease-in;

    text-align: center;
    font-size: 3rem;

    color: rgba(14, 13, 13, 0.63);

    margin-top: 1rem;
}
.dynamicText{
    opacity: 0;
    transition:opacity 2s ease-in;

    margin-top: 0;
    font-weight: 400;
    font-size: 2rem;
    font-family: monospace;
    border-right: 4px solid #3a6469;
    color: #3a6469;
    white-space: pre; /* Preserve whitespace in text */
   
    width: 100%;

 
    overflow: hidden;

    letter-spacing: 1px;
    

    animation: 
        typing 3s , /*add step(LENGTH OF STRING)*/
        blink 0 step-end infinite, /*to make it blinking 0s->.4s*/
        typeback 3s ease-in 4s forwards;
        
}
.show{
    opacity: 1;   
}

.writings{
    display: flex;

    flex-direction: column;
    justify-content: center;
 
    margin-bottom: 0.5em;
}

/* MAIN PAGE*/
#mainPage{
    display: flex;

    flex-direction: column;
}
.showContainer{
    box-sizing: border-box;

    border:3px solid rgba(14, 13, 13, 0.63);;
    width: 80%;
    max-width: 775px;

    margin:0.5em 0;

    
}
/*education*/
#education{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.school{
    
    margin-right:  1em;
    margin-left:  1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ebebd3;

    padding: 0.2em;

    display: flex;

    justify-content: space-between;
    align-items: center;
 
    cursor: pointer;
}
.school p{
    font-size: 1rem;
    display: inline-block;
    
    margin-right: 2em;


}
.expandButton{
    font-size: 2em;
    cursor: pointer;

    color: #3a6469;

    transition: 0.4s;
}
.expandButton.buttonActive{
    content: '-';
    cursor: pointer;

    color: #c33149;

    transition: 0.4s;
}

.name{
    font-size: 1rem;
    font-weight: 700;


}
.type{
    
    font-weight: 700;
    color: #ebebd3;

}

.time{

    margin-top: 0.5em;
}
.details{
    padding: 0 1.5em;
    height: 0px;

    overflow: hidden;
    transition: .5s;

    color: #ebebd3;
}

.details.active{ /*TODO: add slick slide show*/
    height: 100px;

    overflow: hidden;
    transition: 0.5s;
}

@media(max-width:870px){
    .details.active{
        height: 150px; 
    
        overflow: hidden;
        transition: 0.5s;
    }
}
/*MIDPOINT*/
#me{
    display: flex;

    justify-content: space-between;
    
    padding: 0;

    border:0;
}
.techMain{
    box-sizing: border-box;
    width: 30%;
    height: 186px;
    
   

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
}
.techMain img{
    width: 60%; 
    height: auto; 
    object-fit: cover; 

}
.techSub{

    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.tooltipText{
    position: absolute;

    background-color: black;
    color: white;
    padding: 5px 8px;

    white-space: nowrap;

    border-radius: 7px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.tooltipText::before{ /*POINTY PART*/
    content: "";
    position: absolute;

    left: 50%;
    top: 100%;

    transform: translateX(-50%);

    border: 15px solid;

    border-color: #000 #0000 #0000 #0000;
}

.techSub:hover .tooltipText{
    top: -55px;
    visibility: visible;
    opacity: 1;
}
.techSub:hover #github.tooltipText{ /*specific scaling for github logo*/
    top: -65px;

    visibility: visible;
    opacity: 1;

    transform: scale(1);
}
/*SPECIFIC IMAGE SCALING*/
#css{
    transform: scale(1.3);
}
#JS{
    transform: scale(1.15);
}
#python{
    transform: scale(1.1);
}
#github{
    transform: scale(1.8);
}
#slickJS{
    transform: scale(1.5);
}
#yoloV4{
    transform: scale(1.4);
}
/*IMAGE SCALING END*/

.myPhoto{
    box-sizing: border-box;

    width: 30%;
    height: 186px;

    border: 3px solid rgba(14, 13, 13, 0.63);
    border-radius: 30px;

    overflow: hidden; 
    display: flex; 
    justify-content: left; 
    align-items: left; 
}
.myPhoto img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
 
    transform: scale(1.4);
}
#experience{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ANIMATIONS*/
@keyframes typing {
    from{width: 0 ;}
}

@keyframes disappear {
    from { border-right-color: black; 
        }
    to { border-right-color: transparent;
         }
}

@keyframes blink {
    50% {border-color: transparent;}
}
@keyframes typeback {
    from{width: 100 ;}
    to{width: 0%;}
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
